Name Bentao Li

Labpartner(s)

In [ ]:
# import statements go here
import pandas as pd
import numpy as np

# Class 13.2

# Warmups 13.2

**W.1 Pandas Practice** 

Create a pandas series from each of the items below: a list, numpy and a dictionary

mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

In [3]:
import pandas as pd
import numpy as np


char_list = list('abcdefghijklmnopqrstuvwxyz')
num_array = np.arange(26)
dict = dict(zip(char_list, num_array))

# Creating pandas Series
series_from_list = pd.Series(char_list)
series_from_array = pd.Series(num_array)
series_from_dict = pd.Series(dict)

print(series_from_list)
print(series_from_array)
print(series_from_dict)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

**W.2 Pandas Practice con** 

Convert the series you just created into a dataframe with its index as another column on the dataframe.

In [12]:
dataframe = pd.DataFrame(series_from_dict)
dataframe['index'] = dataframe.index
dataframe

    0 index
a   0     a
b   1     b
c   2     c
d   3     d
e   4     e
f   5     f
g   6     g
h   7     h
i   8     i
j   9     j
k  10     k
l  11     l
m  12     m
n  13     n
o  14     o
p  15     p
q  16     q
r  17     r
s  18     s
t  19     t
u  20     u
v  21     v
w  22     w
x  23     x
y  24     y
z  25     z

**W.3 Pandas Practice con** 

Combine two series to form a dataframe.

In [16]:
combined_dataframe = pd.DataFrame([series_from_array, series_from_list])
combined_dataframe

  0  1  2  3  4  5  6  7  8  9   ...  16  17  18  19  20  21  22  23  24  25
0  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25
1  a  b  c  d  e  f  g  h  i  j  ...   q   r   s   t   u   v   w   x   y   z

[2 rows x 26 columns]

**W.4 Pandas Practice con**

Compute the minimum, 25th percentile, median, 75th, and maximum of the following series:

ser = pd.Series(np.random.normal(10, 5, 25))

What kind of distribution is this?

In [42]:
import matplotlib.pyplot as plt
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser)
# Compute the required statistics
min_value = ser.min()
percentile_25 = ser.quantile(0.25)
median = ser.median()
percentile_75 = ser.quantile(0.75)
max_value = ser.max()
print(min_value, percentile_25, median, percentile_75, max_value)

ser_resort = ser.sort_values()
ser_resort = ser_resort.reset_index(drop=True)
plt.hint(ser_resort)
plt.show()

0      8.765165
1     13.164768
2      7.900957
3      8.666612
4     14.119313
5      5.797827
6      3.571760
7      8.400317
8     13.481278
9      8.941216
10     8.423733
11    13.909519
12    11.456701
13    13.561090
14    13.874791
15    16.510754
16     8.398094
17     7.441757
18     8.761844
19    10.909406
20    10.121328
21     1.639161
22     8.970036
23    13.794366
24    11.140065
dtype: float64
1.639161490330327 8.40031745476195 8.970035503292864 13.481277531395556 16.510754253884595

AttributeError: module 'matplotlib.pyplot' has no attribute 'hint'

# Lecture 13.1

## Agenda:
- Machine Learning in Scikit learn Ch 3-4

# Lab 13.1

#### E.0 Complete the previous labs if you are behind.

#### E.1 Complete Ch 3-4 of "Supervised Learning with scikit-learn". Don't forget to turn in your scores

**Notes** Make notes for yourself on progamming tecniques and commands you learned in the this week, including examples, comments and explainitory text. You can do this here or in a separate notebook that you link to here. Basically, you are making a cheat sheet for yourself.

#### E.2 Work on your final project